@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-white: white;
    --color-grey: #e8f0fe;
    --color-grey-dark: #515151;
    --color-blue: #0bc4e2;
}

*{
    font-family: 'Lexend Deca', sans-serif !important;
}

.bg-image{
    background-image: url(img/wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo{
    fill: var(--color-white);
    width: 14rem;
}

._input{
    background-color: var(--color-grey);
    font-weight: 600;
}

._input:focus{
    box-shadow: 0 0 0 0;
    border: 2px solid black !important;
    color: var(--color-grey-dark) !important;
    font-size: 1.2rem;
}

._label{
    color: var(--color-grey);
}

.form-check{
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

._check{
    background-color: var(--color-grey);
}

._btn{
    border-radius: 2rem;
    color: var(--color-grey);
    background-color: #0bc4e2;
}

._btn:hover{
    background-color: #0e98ad;
    color: white;
}

._text-link{
    color: var(--color-grey-dark);
    text-decoration: none;
    font-weight: 600;
}

._text-link:hover{
    color: black;
}

.login-text{
    font-size: 30px;
}